body{
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: skyblue;
    flex-direction: column;
    
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

main section{
    max-width: 1200px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 4% 0;


}


td,th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th{
    padding-top: 12px;

    padding-bottom: 12px;
    text-align: center;
    background-color: skyblue;
    color: white;
}

.navbar, main{
}

.header__title{
    display: flex;
    padding: 18px;
    justify-content: center;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}

main{ 
    background: burlywood;
    min-height: 500px;
}

.navbar{
    display: flex;
    width:100%;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.navbar a{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.navbar a:last-child{
    text-transform: initial;
}

.footer{
    color:skyblue;
    width:100%;
    background: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid skyblue;
}

    
    
